@import "tailwindcss";

@theme {
  --animate-xh: xh 0.2s ease-in-out;

  @keyframes xh {

    0% {
      transform: translate(-100%, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }



  --animate-bm: bm 0.2s ease-in-out;

  @keyframes bm {

    0% {
      transform: translate(100%, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  --animate-d: d 0.3s ease-in-out;

  @keyframes d {

    0% {
      width: 80px;
      padding-left: 24px;
    }

    100% {
      width: 200px;
    }
  }

  --animate-n: n 0.3s ease-in-out;

  @keyframes n {

    0% {
      width: 200px;
    }

    100% {
      width: 80px;
    }
  }


}


body {
  margin: 0;
  padding: 0;
}

th {
  text-align: start;
  padding: 14px;
}

td {
  padding: 16px;
  text-align: start;
}